:root{
    --image-url: url('/static/loginbackground1.jpg');
}


.box {
    border: 2px solid black;
    border-radius: 2%;
    width: 60%;
    margin: auto;
    margin-top: 7%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    
}

.title {
    text-align: center;
}

.header {
    text-align: center;
}

.request {
    text-align: center;
}

.username_button {
    text-align: center;
}

.subheader {
    text-align: center;
}



.info_button {
    background-image: url('infoButton.jpg');
    transition: transform 0.3s ease;
    width: 200px;
    height: 200px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; bottom: 35px;
    position: absolute; right: 25px;
}

.hidden-text-fade{
    border: 2px solid goldenrod;
    border-radius: 10%;
    width: 120px;
    height: 175px;
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(5px);
    color: goldenrod;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
}

.info_button:hover .hidden-text-fade{
    opacity: 1;
    visibility: visible;
    position: absolute;
}

.info_button:hover {
    transform: scale(1.25);
    cursor: pointer;

}

body {
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
