<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="welecome_style.css">

    <title>Sign In</title>
</head>
<body>
    <h1>Welcome To Card Sleeves</h1>
        <p1>An online space to save, sort, and organize your magic the gathering cards</p1>
    
    <h2>Please insert your username and password</h2>

        <form action="/process_data" method="post">
            <label for="username">Name:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <input type="submit" value="Submit">
        <form> 

    
        <a href="/homepage">home</a>

</body>
</html>