<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome_style.css') }}">

    <title>CardSleeves - Welcome</title>

</head>
<body>
    <div class="box">  
    
    <h1 class = "title">Welcome To Card Sleeves</h1>
    
    <div class="header">An online space to save, sort, and organize your magic the gathering cards</div>
    
    
    </div>

    
    <a onclick="showInfo()">
    <div class = "info_icon">
        <div class = info_button>
            <span class = "hidden-text-fade1">
                Additional Information
            </span>
        </div>
    </a>  

    <div class = "info_box" id="myDIV">
        MTG Card Sleeves is a student coding project with the aim of creating a user-friendly database for fans of the popular Card Game Magic The Gathering to store, sort, and organize digital copies of their cards.
        <button onclick="closeInfo()" class = "info_button_close">Close</button>   
    </div>

    <script>
    function showInfo() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    }
    function closeInfo() {
        var y = document.getElementById("myDIV");
        y.style.display = "none";
    }
    </script> 



    <a onclick="Go()">
    <div class = "go_icon">
        <div class = go_button>
            <span class = "hidden-text-fade2">
                Head to Card Collection
            </span>
        </div>
    </a>  

    <div class = "go_box" id="myGO">
        Please insert your username to be directed directly to your collection!
        <form action="/homepage" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <input type="submit" value="Sign In">
        </form>
    </div>

    <script>
    function Go() {
        var x = document.getElementById("myGO");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
    }
    </script> 

</body>
</html>